.contactLabel {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 25px;
}

.contactInput {
  width: 200px;
  font-size: 16px;
  padding-left: 8px;
  background-color: #FFEDBC;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
}

.contactInput:hover {
  border: none;
}

.contactInput:focus {
  border: none;
  background-color: #fff;
}
